<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144207693896-j42dugrc65ghobc68fcjb5na0cgv1f3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144207693896-j42dugrc65ghobc68fcjb5na0cgv1f3p</string>
	<key>API_KEY</key>
	<string>AIzaSyC2_fRC793_UQFPskp0aDI2TIH7GWyZbhg</string>
	<key>GCM_SENDER_ID</key>
	<string>144207693896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-flutter-6810a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-flutter-6810a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144207693896:ios:e8e8e41d55c2502c45707d</string>
</dict>
</plist>